.search-input-main {

  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input-box {
  border: none;
  box-shadow: 0 1px 4px 0 #20212447;
  min-width: 320px;
  max-width: 600px;
  width: 600px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin: 30px;


}

.main-input {
  background: inherit;
  border: none;
  border-color: inherit;
  width: 90%;
  padding: 10px;
  outline: none;
  border: none;
}

.icon-search {
  color: var(--violet);
}

.main-input:focus {
  border: 0px;
  border-color: red;
  color: var(--violet);
  outline: var(--violet);
}